/*====== RESET ======*/
* {margin: 0; padding: 0; font-size: 100%;  box-sizing: border-box; 
font-family: 'Lato', sans-serif;}
body {width: 100%; height: auto; background: #000; display: flex; justify-content: center; flex-direction: column; overflow: auto; }
img {max-width: 100%;}
a { text-decoration: none; }

/*contaner com o titulo da pagina*/
.contaner-titulo {
	width: 100%;
	background-color: #fff;
}

.titulo {
	width: 90%;
}

.titulo img {
	width: 30%;
}
/*.titulo h1 {
	font-family: 'Luckiest Guy', cursive;
	font-size: 3em;
	text-align: center;
	color: #FACC2E;
}*/

/*contaner com o contatos da pagina*/
.contaner-contato {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.contato {
	margin: 4%;
	margin-top: 0;
}

.contato i {
	font-size: 1em;
	color: #000;	
}

.contato p {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1em;
	padding-top: 3%;
	color: #000;
}

/*contaner com informaçao sobre parcelamento da pagina*/
.contaner-cartao {
	width: 90%;
}
.cartao  {
	width: 100%;
	margin-top: 5%;
	font-size: 1em;
	border: 2px solid #FF0040;
}
.cartao p {
	padding: 2%;
	font-family: 'Bree Serif', serif;
	color: #fff;
}

/*contaner com o todos os produtos da pagina*/
.contaner-produto {
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.produto  {
	width: 90%;
}
.produto img {
	width: 100%;
	height: 90%;
	border-radius: 5%;
}
.texto-produto {
	width: 90%;
	background-color: #FF0040;
	padding: 3%;
}
.texto-produto h2 {
	color: #FFf;
	font-size: 1.5em;
	font-family: 'Baloo Bhai', cursive;
}
.texto-produto i {
	color: #FFf;
}

/*contaner sobre os feedbacks*/
.feedbacks {
	width: 80%;
	margin-top: 5%;	
}
.feedbacks-texto i {
	color: #FFBF00;
	font-size: 1.5em;
	padding-top: 2%;
}
.feedbacks h2 {
	color: #FFBF00;
	text-align: center;
	padding: 1% 0 2% 0;
	font-size: 1.5em;
	font-family: 'Caveat', cursive;
}
.ver-mais {
	width: 70%;
	border: 1px solid #FFBF00;
	margin-bottom: 5%;
	border-radius: 3%;
}
.ver-mais h2 {
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.ver-mais i {
	color: #fff;
	font-size: 1.5em;
	padding: 2% 0 2% 0;
}

/*contaner final da pagina*/
.fim-da-pagina {
	background-color: #fff;
	margin-top: 5%;
}
.logo-fim img {
	width: 30%;
	margin-top: 5%;
}
.icons-fim {
	color: #fff;
	padding: 3%;
}
.icons-fim i {
	padding: 0 3% 0 3%;
	color: #000;
	font-size: 1.5em;
}

/*parde responsiva da pagina*/
@media (min-width: 850px){
	.produto img {
		width: 40%;
	}
	.texto-produto {
		width: 40%;
	}
}